@model SentimentalNews.Model.Article

@section Scripts {
}

<div class="container-fluid">
    <span class="pull-right"><h4><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></h4></span>
</div>
<div class="container-fluid">
    <h3>@ViewData["Title"]</h3> 
    <p> @Model.Author </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <span > <img class="fit-image" src="@Model.UrlToImage"/> </span>
            <br> &nbsp;
            <div>
                <table class="table">
                    @{var caption = @Model.ImageAnalysis.Description.Captions.FirstOrDefault();}
                    @{var tags = string.Join(", ", Model.ImageAnalysis.Description.Tags);}
                    @{var peopleCategories = @Model.ImageAnalysis.Categories.Where(c=> c.Detail?.Celebrities!=null);}
                    <tbody>
                        <thead>
                            <tr>
                                <th>
                                    AI Property
                                </th>
                                <th>
                                    Value
                                </th>
                                <th>
                                    AI Confidence Level
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                Caption
                            </td>
                            <td>
                                @Html.DisplayFor(c=>caption.Text)
                            </td>
                            <td>
                                 @Html.DisplayFor(c=>caption.Confidence)
                            </td>
                        </tr>
                        <tr>
                            <td>
                            AI Generated Image Tags
                            </td>
                            <td>
                                @tags
                            </td>
                            <td></td>
                        </tr>

@if (peopleCategories != null ){
    foreach(var category in peopleCategories)
    {
        if(category.Detail != null && category.Detail.Celebrities!=null)
        {
            foreach(var celeb in category.Detail.Celebrities){
                        <tr>
                            <td>
                                Celebrity Detected
                            </td>
                            <td>
                                @Html.DisplayFor(m=>celeb.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>celeb.Confidence)
                            </td>
                        </tr>
            }
        }   
    }                       
}
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <span class="pull-left">
                    @Html.DisplayFor(modelItem => Model.Description)
                </span>
            </div>
            <br> &nbsp;
            <div>
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(modelItem=> Model.Sentiment)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem=>Model.PublishedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem=>Model.Url)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem=> Model.Sentiment) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.PublishedAt)
                            </td>
                            <td>
                                <a href="@Model.Url" target="=_blank">@Model.Title</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(itemModel=>Model.TopicAssignments)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var topic in Model.TopicAssignments){
                            <tr>
                                <td>
                                    @Html.ActionLink(@topic.TopicKeyPhrase,
                                     "Detail", "Topics", new { id = topic.TopicId }, null)
                                    
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>