@model Rian.Cognitive.ArticleDataAggregate

@{
    ViewData["Title"] = "Home Page";
    var mostPopularTopic = Model.Topics.OrderByDescending(item => item.Score).First();
    var mostPopularImageUrl = Model.Articles.FirstOrDefault(
        a=>a.TopicAssignments.Any(b=>b.TopicId == mostPopularTopic.Id)).UrlToImage;

    var orderedBySentiment = Model.Topics.OrderByDescending(item => item.AverageSentiment);
    var highestSentimentTopic = orderedBySentiment.First();
    var highestSentimentImageUrl = Model.Articles.FirstOrDefault(
        a=>a.TopicAssignments.Any(b=>b.TopicId == highestSentimentTopic.Id)).UrlToImage;
    var lowestSentimentTopic = orderedBySentiment.Last();
    var lowestSentimentImageUrl = Model.Articles.FirstOrDefault(
        a=>a.TopicAssignments.Any(b=>b.TopicId == lowestSentimentTopic.Id)).UrlToImage;
}


<div class="container-fluid">
    <h2> Welcome to Sentimental News <br> &nbsp;</h2>
    <div class="row">
        <div class="col-md-4">
            <h4>Most Popular (@Html.DisplayFor(m=>mostPopularTopic.Score))</h4>
            <h5> @Html.ActionLink(@mostPopularTopic.KeyPhrase, "Detail", "Topics", 
                new { id = mostPopularTopic.Id }, null)
            </h5>
            <img class="fit-image" src=@mostPopularImageUrl />
            
        </div>
        <div class="col-md-4">
            <h4>Highest Sentiment (@Html.DisplayFor(m=>highestSentimentTopic.AverageSentiment))</h4>
            <h5> @Html.ActionLink(@highestSentimentTopic.KeyPhrase, "Detail", "Topics", 
                new { id = highestSentimentTopic.Id }, null)
            </h5>
            <img class="fit-image" src=@highestSentimentImageUrl />
        </div>
        <div class="col-md-4">
            <h4>Lowest Sentiment (@Html.DisplayFor(m=>lowestSentimentTopic.AverageSentiment))</h4>
            <h5> @Html.ActionLink(@lowestSentimentTopic.KeyPhrase, "Detail", "Topics", 
                new { id = lowestSentimentTopic.Id }, null)
            </h5>
            <img class="fit-image" src=@lowestSentimentImageUrl />
        </div>
    </div>
</div>


