@model IEnumerable<Rian.Cognitive.Article>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedAt)
            </td>
            <td>
                <img src= "@Url.Content(item.UrlToImage)" alt="Image" />
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>