@model IEnumerable<Rian.Cognitive.Article>

@section Scripts {
    <script type="text/javascript">
    // Write your Javascript code.
 $(document).ready(colorRows);
    </script>
}

<div>
    <div align="left">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div align="right">
        <h4><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></h4>
    </div>
</div>
<table class="table">
    <thead>
        <tr >
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sentiment)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr data-color="@item.Sentiment">
            <td>
                <a href="@item.Url" target="=_blank">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sentiment)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>